Endpoint:  http://10.18.0.87:9000  http://172.24.42.28:9000  http://127.0.0.1:9000            
AccessKey: 06QOIEWJL5FINSYKNN1Z 
SecretKey: RrJh0Y19DvDNuDRstycuWQVlRmlIXgcWYin+R3sr 

Browser Access:
   http://10.18.0.87:9000  http://172.24.42.28:9000  http://127.0.0.1:9000            

Command-line Access: https://docs.minio.io/docs/minio-client-quickstart-guide
   $ mc config host add myminio http://10.18.0.87:9000 06QOIEWJL5FINSYKNN1Z RrJh0Y19DvDNuDRstycuWQVlRmlIXgcWYin+R3sr

Object API (Amazon S3 compatible):
   Go:         https://docs.minio.io/docs/golang-client-quickstart-guide
   Java:       https://docs.minio.io/docs/java-client-quickstart-guide
   Python:     https://docs.minio.io/docs/python-client-quickstart-guide
   JavaScript: https://docs.minio.io/docs/javascript-client-quickstart-guide
   .NET:       https://docs.minio.io/docs/dotnet-client-quickstart-guide

